<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>发表留言</title>
  </head>
  <body>
    <a href="/"><h1>首页</h1></a>
    <h1>发表留言</h1>
    <form action="/pinglun" method="GET">
      <input type="text" name='name' />
      <input type="text" name='msg' />
      <button type="submit">提交</button>
    </form>
    <a href="/pinglun">zhuye</a>
  </body>
</html>
