<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://vuejs.org/js/vue.js'></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model='next'>
        <button @click='addlist'>确定</button>
        <div v-for='item of list' :key='item.id'>
            <ul>
                <li @click="removelist" :id='item.id'>{{item.title}}</li>
            </ul>
        </div>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            next:'',
            list:[
                {
                    id: 1,
                    title: 'eat'
                },
                {
                    id: 2,
                    title: 'sleep'
                },
                {
                    id: 3,
                    title: 'play'
                }
            ]
        },
        methods: {
            addlist(){
                if (this.next === ''){
                    alert('请输入内容')
                }else{
                    this.list.push({
                        id: this.list.length + 1,
                        title:this.next
                    })
                    this.next=''
                }
            },
            removelist(){
                // this.list.splice()
                console.log(id)
            }
        },
    })
</script>